.worktrees/
.assets
.env
*.pyc
dist/
build/
packaging/windows/work/
packaging/windows/build/
packaging/windows/dist/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
.win/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
.DS_Store
